{% extends "base.html" %}
{% block content %}

    <h1>About SmartNinja</h1>
    <ul>
        <li><a href="/"> Home;)</a></li>
        <li><a href="/about"> About ;)</a></li>
    </ul>

    Hello, my name is {{user_name}}!

    <p>About site from SmartNinja</p>

    <h2>Languages</h2>

    <ul>
        {% for language in languages %}
            <li>{{language}}</li>
        {% endfor %}

        {% if mood %}
            <p>I am {{mood}}</p>
        {% endif %}

        <li>Python</li>
        <li>Javascript</li>
        <li>HTML</li>
        <li>CSS</li>
    </ul>

{% endblock content %}